@import 'themeColors';
$theme-font: "Times New Roman", Times, serif;

body {
  font-family: $theme-font;
  background-color: $themeColor-Light;
  h1, h2 {
      color: $themeColor-Dark
  }
}

.fret {
  display: inline-block;
  border: 1px grey solid;
  min-width: 2.5%;
  min-height: 25px;
  text-align: center;
  padding:5px;
  text-transform: uppercase;

}
.fret-label {
  display: inline-block;
  border: 1px white solid;
  min-width: 2.5%;
  min-height: 25px;
  text-align: center;
  padding:5px;
  text-transform: uppercase;

}
